@import url('./__content/popup-photo__content.css');
@import url('./__image/popup-photo__image.css');
@import url('./_is-opened/popup-photo_is-opened.css');


.popup-photo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;  
  }